Repository kamegoro/task-canvas, pull requests merged in 2023-11, with the labels that each got.

#53 fix: pull_request_template.md
  .github/pull_request_template.md
Labels: github-actions

#61 Frontendディレクトリの作成と移行・CIの修正
  .github/workflows/ci-lint.yaml
  .github/workflows/ci-next-build.yaml
  .github/workflows/ci-storybook-build.yaml
  frontend/.eslintignore
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/.gitkeep
  frontend/src/app/_components/atoms/Button/index.stories.ts
  frontend/src/app/_components/atoms/Button/index.tsx
  frontend/src/app/_components/atoms/Checkbox/index.stories.ts
  frontend/src/app/_components/atoms/Checkbox/index.tsx
  frontend/src/app/_components/molecules/.gitkeep
  frontend/src/app/_components/mui/Box/index.stories.ts
  frontend/src/app/_components/mui/Box/index.tsx
  frontend/src/app/_components/mui/Button/index.stories.ts
  frontend/src/app/_components/mui/Button/index.tsx
  frontend/src/app/_components/mui/Calendar/index.stories.ts
  frontend/src/app/_components/mui/Calendar/index.tsx
  frontend/src/app/_components/mui/Checkbox/index.stories.ts
  frontend/src/app/_components/mui/Checkbox/index.tsx
  frontend/src/app/_components/mui/Container/index.stories.ts
  frontend/src/app/_components/mui/Container/index.tsx
  frontend/src/app/_components/mui/Divider/index.stories.ts
  frontend/src/app/_components/mui/Divider/index.tsx
  frontend/src/app/_components/mui/TextField/index.stories.ts
  frontend/src/app/_components/mui/TextField/index.tsx
  frontend/src/app/_components/mui/Typography/index.stories.ts
  frontend/src/app/_components/mui/Typography/index.tsx
  frontend/src/app/_components/organisms/.gitkeep
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Labels: github-actions

#64 Auto Labelerのターゲットディレクトリの修正
  .github/labeler.yaml
Labels: github-actions, frontend, backend

#77 Feature/create frontend dir
  .github/labeler.yaml
  .vscode/settings.json
  backend/go.mod
  backend/go.sum
  backend/gqlgen.yml
  backend/graph/generated.go
  backend/graph/model/models_gen.go
  backend/graph/resolver.go
  backend/graph/schema.graphqls
  backend/graph/schema.resolvers.go
  backend/server.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_components/atoms/Button/index.tsx
  frontend/src/app/_components/atoms/Checkbox/index.tsx
  frontend/src/app/_components/organisms/.gitkeep
  frontend/src/app/_components/organisms/AppAuth/index.tsx
  frontend/src/app/_components/organisms/AppHeader/index.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
Labels: github-actions, frontend, backend

#78 Feature/add auth0
  frontend/codegen.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_components/AuthorizedApolloProvider.tsx
  frontend/src/app/api/query.ts
  frontend/src/app/layout.tsx
Labels: frontend

#82 GraphQLのスキーマからTypeScriptの型生成
  frontend/codegen.yaml
  frontend/graphql.schema.json
  frontend/src/generated/graphql.tsx
Labels: frontend

#84 titleをmoleculesに追加
  frontend/src/app/_components/molecules/Title/index.stories.ts
  frontend/src/app/_components/molecules/Title/index.tsx
Labels: frontend

#93 add: Node.js and Golang version up guides
  .github/labeler.yaml
  README.md
  docs/golang-upgrade.md
  docs/node-upgrade.md
Labels: github-actions, docs

#94 add: backend lint workflows
  .github/workflows/ci-backend.yaml
Labels: github-actions

#95 fix: workflows executed triger
  .github/workflows/ci-lint.yaml
  .github/workflows/ci-next-build.yaml
  .github/workflows/ci-storybook-build.yaml
Labels: github-actions

#96 todoのresolverの実装
  backend/README.md
  backend/go.mod
  backend/go.sum
  backend/graph/generated.go
  backend/graph/model/models_gen.go
  backend/graph/resolver.go
  backend/graph/schema.graphqls
  backend/graph/schema.resolvers.go
  backend/tools.go
Labels: backend
