Repository kamegoro/task-canvas, pull requests merged in 2024-07, with the labels that each got.

#358 Feature/add input validation
  docker-compose.yaml
  frontend/src/_components/atoms/Button/index.tsx
  frontend/src/_components/atoms/Input/index.tsx
  frontend/src/app/page.tsx
Labels: frontend

#369 add: character limit for Input
  frontend/src/app/page.tsx
Labels: frontend

#370 docker compose時にdbの初期化のsqlが実行されるようにする
  .env.example
  backend/app/database/init/0_database.sql
  backend/app/database/init/0_init.sql
  backend/app/database/init/1_database.sql
Labels: backend

#379 DBのSeedのsqlを追加
  Makefile
  backend/app/database/seeds/0_todo.sql
  docker-compose.yaml
Labels: backend

#380 Feature/add todo get handler
  .env.example
  .gitignore
  Makefile
  backend/config/db.go
  backend/domain/.gitkeep
  backend/domain/todo.go
  backend/driver/generated/db.go
  backend/driver/generated/models.go
  backend/driver/generated/querier.go
  backend/driver/generated/query.sql.go
  backend/driver/sqlc/query.sql
  backend/driver/sqlc/schema.sql
  backend/gateway/todo_gateway.go
  backend/gateway/todo_gateway_test.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/mock/driver/db_driver.go
  backend/mock/port/todo_port.go
  backend/port/todo_port.go
  backend/rest/todos.go
  backend/sqlc.yaml
  backend/useCase/get_todo_usecase.go
  backend/useCase/get_todo_usecase_test.go
  backend/usecase/.gitkeep
  docker-compose.yaml
Labels: backend

#383 Feature/add get todos service logic
  backend/main.go
  frontend/src/app/page.tsx
  frontend/src/domain/todo.ts
  frontend/src/driver/index.ts
  frontend/src/gateway/todo.ts
  frontend/src/hooks/useTodo.ts
  frontend/src/useCase/getTodoUseCase.ts
Labels: frontend, backend

#384 update: golang hotreload
  backend/Dockerfile
  docker-compose.yaml
Labels: backend

#385 add: go build and go test
  .github/workflows/ci-backend.yaml
Labels: github-actions

#386 Feature/add create todo api
  .gitignore
  backend/domain/todo.go
  backend/driver/generated/querier.go
  backend/driver/generated/query.sql.go
  backend/driver/sqlc/query.sql
  backend/gateway/todo_gateway.go
  backend/gateway/todo_gateway_test.go
  backend/gateway/todo_id_gateway.go
  backend/go.sum
  backend/main.go
  backend/mock/driver/db_driver.go
  backend/mock/port/todo_id_port.go
  backend/mock/port/todo_port.go
  backend/port/todo_id_port.go
  backend/port/todo_port.go
  backend/rest/todos.go
  backend/useCase/get_todo_usecase_test.go
  backend/useCase/store_todo_usecase.go
  backend/useCase/store_todo_usecase_test.go
Labels: backend

#389 Feature/add todo put handler
  backend/driver/generated/querier.go
  backend/driver/generated/query.sql.go
  backend/driver/sqlc/query.sql
  backend/gateway/todo_gateway.go
  backend/gateway/todo_gateway_test.go
  backend/main.go
  backend/mock/driver/db_driver.go
  backend/mock/port/todo_port.go
  backend/port/todo_port.go
  backend/rest/todos.go
  backend/useCase/update_todo_usecase.go
  backend/useCase/update_todo_usecase_test.go
Labels: backend
