Repository kamegoro/task-canvas, pull requests merged in 2024-12, with the labels that each got.

#587 update: actions
  .github/workflows/ci-backend.yaml
  backend/gateway/todo_gateway.go
Labels: github-actions, backend

#604 add: validator library and func
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/rest/todos.go
Labels: backend

#605 Feather/add component for edit icon
  frontend/src/_components/molecules/TodoCard/index.tsx
  frontend/src/_components/mui/EditIcon/index.stories.tsx
  frontend/src/_components/mui/EditIcon/index.tsx
  frontend/src/_components/mui/IconButton/index.stories.tsx
  frontend/src/_components/mui/IconButton/index.tsx
Labels: frontend

#608 Feature/add edit page
  frontend/src/_components/molecules/EditPage/index.stories.tsx
  frontend/src/_components/molecules/EditPage/index.tsx
  frontend/src/_components/mui/Dialog/index.stories.tsx
  frontend/src/_components/mui/Dialog/index.tsx
  frontend/src/app/api/v1/signin/route.ts
  frontend/src/app/api/v1/signup/route.ts
Labels: frontend
